.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: lem;
    background: blue;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}